.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
    margin-top: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);

}

.container {
    align-items: center;
    display: flex;
    margin-top: 15rem;
    margin-left: 50rem;
    
}

#butto {
    margin-top: 10px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color:  #2aade5;
    color: #fff; 
}

.form input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    display: flex;
    margin-top: auto;
    outline: 1px solid #2aade5;
}

.form label {
    font-size: 0.90rem;
    font-weight: 600;
    text-align: left;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px
}